{{#if (is-equal model.mode "login")}}
    <div class="sso-box">
        <p>Autenticando-se com Keycloak...</p>
        <img src="/assets/img/busy-gray.gif">
    </div>
{{/if}}

{{#if (is-equal model.mode "reject")}}
    <div class="sso-box">
        <p>Falha na autenticação do Keycloak</p>
        <p>{{model.message}}</p>
    </div>
{{/if}}
