<Layout::MasterNavigation />
<Layout::MasterToolbar />

<Layout::Grid::Container>
	<Layout::Grid::Sidebar>
		<div class="sidebar-content">
			<div class="section">
				<div class="title">PERFIL</div>
				<div class="text">
					Defina suas informações pessoais ou redefina sua senha.
				</div>
				<div class="text">
          Tem uma ideia para um produto, uma sugestão ou comentário? <a href="mailto:support@documize.com">Entre em contato.</a>
				</div>
			</div>
		</div>
	</Layout::Grid::Sidebar>
	<Layout::Grid::Content>
		{{layout/logo-heading
			title=session.user.fullname
			desc="Gerenciar seu perfil e senha"
			icon=constants.Icon.Person}}

		{{user/user-profile model=model save=(action "save")}}
	</Layout::Grid::Content>
</Layout::Grid::Container>
