<div class="view-customize">
	<form>
		<div class="form-group">
			<p>Pode levar até 30 minutos para reconstruir o índice da busca.</p>
			{{ui/ui-button color=constants.Color.Yellow light=true icon=constants.Icon.Search label=buttonLabel onClick=(action "reindex")}}
		</div>
	</form>
</div>
