{{layout/logo-heading
	title="Apagar Coordenação-Geral"
	desc="Proceda com cautela, esta ação não pode ser desfeita"
	icon=constants.Icon.Delete}}

<form>
	<div class="form-group">
		<label>Por favor, digite o nome da Coordenação-Geral para confirmar</label>
		{{focus-input id="delete-space-name" type="text" value=deleteSpaceName class="form-control mousetrap" placeholder="Nome da Coordenação-Geral" autocomplete="off"}}
		<small class="form-text text-muted">Isto irá apagar todos os documentos e templates nesta Coordenação-Geral!</small>
	</div>
</form>

{{ui/ui-button
	color=constants.Color.Red
	icon=constants.Icon.Delete
	label=constants.Label.Delete
	light=true
	onClick=(action "onDelete")}}
