{{layout/logo-heading
	title="Airtable"
	desc="Em parte é uma planilha, em parte um banco de dados e inteiramente flexível (https://airtable.com)"
	icon=constants.Icon.Integrations}}

{{#section/base-editor document=document folder=folder page=page isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	<div class="form-group">
		<label for="airtable-embed-code">Código embutido do Airtable</label>
		{{textarea value=data rows="3" id="airtable-embed-code" class="form-control mousetrap" placeholder="Insira o código" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
		<small class="form-text text-muted">Cole o código de embutir do Airtable</small>
	</div>
{{/section/base-editor}}
