{{layout/logo-heading
	title="Categorias"
	desc="Atribuir uma ou mais categorias para ajudar a organizar o conteúdo neste Coordenação Geral"
	icon=constants.Icon.Category}}

{{#if categories}}
	{{ui/ui-list-picker items=categories nameField="category" singleSelect=false}}

	<Ui::UiSpacer @size="300" />

	{{ui/ui-button
		color=constants.Color.Green
		icon=constants.Icon.Category
		label=constants.Label.Save
		light=true
		onClick=(action "onSave")}}
{{else}}
	<p class="color-green-700">Este Coordenação Geral ainda não tem qualquer categoria</p>
{{/if}}
