{{layout/logo-heading
	title="Configurações de conteúdo"
	desc="Definir nome, descrição e estágio do ciclo de vida"
	icon=constants.Icon.Settings}}

<form class="view-document">
	<div class="form-group">
		<label for="document-name">Nome</label>
		{{focus-input id="document-name" type="text" value=docName
			class=(if hasNameError "form-control mousetrap is-invalid" "form-control mousetrap") placeholder="Título" autocomplete="off"}}
	</div>

	<div class="form-group">
		<label for="document-excerpt">Descrição</label>
		{{textarea id="document-excerpt" rows="4" value=docExcerpt class="form-control mousetrap" placeholder="Excerto" autocomplete="off"}}
		<small class="form-text text-muted">Descrição opcional explicando o conteúdo</small>
	</div>

	{{ui/ui-button
		color=constants.Color.Green
		icon=constants.Icon.Settings
		label=constants.Label.Save
		light=true
		onClick=(action "onSave")}}
</form>
